cffi
future
Pillow
olefile
cryptography
pip
attrs
distro
wheel
Jinja2
setuptools
dill
lxml
bs4
beautifulsoup4
Mako
Babel
MarkupSafe
isort
tomli
colorama
pylint
astroid
typing_extensions
tomlkit
mccabe
platformdirs
oauthlib
blinker
paramiko
bcrypt
pycparser
useragent
packaging
zipp
Django
selenium
djangorestframework